<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
    <p class="fs-5 text-center">Get to know more</p>
    <h1 class="fw-bold text-center">About Me</h1>
    <div class="row mt-4">
        <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
            <img class="about-pic img-fluid rounded-5" src="/about-img.jpeg" alt="about image">
        </div>
        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
            <div class="row w-100">
                <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
                    <div class="about-card card w-100 border-black">
                        <div class="card-body text-center">
                            <i class="fa fa-award fa-2x icon"></i>
                            <h3 class="fw-bold about-subtitle">Experience</h3>
                            <p class="card-text">
                                {{ getExperienceYears() }}+ years of experience
                                <br>in Software Development with
                                <br>a focus on the Frontend side
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
                    <div class="about-card card w-100 border-black">
                        <div class="card-body text-center">
                            <i class="fa fa-laptop-code fa-2x icon"></i>
                            <h3 class="fw-bold about-subtitle">Specialized In</h3>
                            <p class="card-text">
                                Web Development<br>Microservices Architecture<br>Relational Databases<br>Fintech Industries
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center mt-3">
                <p>
                    I'm Jason J, Front-end developer in India with 3+ years of experience in developing highly interactive web
                    applications using Angular (version 2 to latest version), NGRX(State Management), JavaScript, HTML5, CSS,
                    Bootstrap, Rest API. Seeking a role that allows me to utilize my expertise in software
                    development, analytical, and problem-solving skills.
                </p>
            </div>
        </div>
    </div>
</section>