a {
    color: black;
    text-decoration: none;
    text-decoration-color: whitesmoke;
    cursor: pointer;
    transition: color 200ms ease;

    &:hover {
        color: rgb(53, 53, 53);
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-color: #c9a227;
    }
}